body {
    background: #bdb7b7;
    font-family: 'Poppins';
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.slider {
    position: relative;
    margin-top: 70px;
    
}

.slider__item {
    background-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.25);
}

.slider__item-content {
    margin: 0 25px 0 25px;
}

.slider__item-h {
    font-size: 21px;
    font-weight: 700;
    line-height: 26.25px;
}

.slider__item-text {
    font-size: 15px;
    font-weight: 400;
}

.slider__item-name {
    margin-top: 28px;
    font-size: 13px;
    font-weight: 700;
}   

.slider__item-post {
    font-size: 15px;
    opacity: 0.5;
    margin-top: 12px;
}

.slider__img {
    padding: 40px 0 36px 25px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    gap: 24px;
}

.slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
}

.slick-arrow.slick-prev {
    top: 43%;
    left: -5%;
    background: url('../images/prev.png') 0 0 / 100% no-repeat;
    opacity: 0.2;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
    opacity: 1;
}

.slick-arrow.slick-next {
    top: 43%;
    right:  -5%;
    background: url('../images/next.png') 0 0 / 100% no-repeat;
    opacity: 0.2;
    
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slick-dots li {
    list-style: none;
}

.slick-dots button {
    font-family: 'Poppins';
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size:0 ;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}
