body {
    background: rgb(48, 48, 48);
}

.slider {
    position: relative;
    padding-bottom: 40px;
}

.slider__item {
    background-color: #918f8f;
    opacity: 0.4;
}

.slider__item-content {
    margin: 0 25px 0 25px;
}

.slider__item-h {
    font-size: 21px;
    font-weight: 700;
    line-height: 26.25px;
}

.slider__item-text {
    font-size: 15px;
    font-weight: 400;
}

.slider__item-name {
    margin-top: 28px;
    font-size: 13px;
    font-weight: 700;
}   

.slider__item-post {
    font-size: 15px;
    opacity: 0.5;
    margin-top: 12px;
}

.slider__img {
    padding: 40px 0 36px 25px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    gap: 24px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.slick-arrow.slick-prev {
    top: 100%;
    right: 50%;
    background: url('../images/prev.png') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next {
    top: 100%;
    left: 50%;
    background: url('../images/next.png') 0 0 / 100% no-repeat;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.slick-dots li {
    list-style: none;
}

.slick-dots li.slick-active button {
    background-color: #000000;
    height: 30px;
    width: 30px;
    color: #fff;
}

.slick-dots button {
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.slick-center {
    opacity: 1;
}